{% extends "base.html" %}
{% block title %} My Resume {% endblock %}
{% block content %}
	<div class="resume">
		<h2>Shahid Khan</h2>
		<h5>Phone: 613-2036457</h5>
		<h5>Email: shahidahmads1@gmail.com</h5>
		<hr>
		<div class="resume-content">
			<div id="education" style="margin-top: 0px;">
				<h3> Education </h3>
				<aside>
					<ul class="school" style="list-style-type:square">
						<li>
							<h5> Algonquin College, School of Advanced Technology</h5>
							<h5> Ottawa, ON</h5>
						</li>
					</ul>
				</aside>
				<aside class="duration">	
					<h5> Jan 2014 - April 2016</h5>
				</aside> 
				<div class="txt-pos">
					<ul class="algonquin">
						<li>
							<a style="color:white;" target="_blank" href="http://www.algonquincollege.com/sat/program/computer-programmer/#courses">Computer Programmer</a> (Diploma)
						</li>
						<ul>
							<li>
								Graduated with honors, CGPA 3.84/4.00			
							</li>
						</ul>
					</ul>
				</div> 	
				<aside>
					<ul class="school" style="list-style-type:square">
						<li>
							<h5>Institute of Business and Management Sciences,</h5>
							<h5> The University of Agriculture</h5>
							<h5> Peshawar, Pakistan</h5>
						</li>
					</ul>	
				</aside>
				<div class="txt-pos">
					<ul class="BSIT">
						<li>
							Bachelor of Science in Information Technology (BS-IT)
						</li>
						<ul>
							<li>
								CGPA 3.22/4.00			
							</li>
						</ul>
					</ul>
				</div> 	
			</div>
			<!-- <hr style="border-color:gray"> -->
			<hr/>
			<div id="professional-certifications">
				<h3> Professional certifications</h3>
				<div class="txt-pos">
					<ul>
						<li>Cisco Certified Networking Associate (CCNA)</li>
						<li>Oracle Certified Professional - Java Programmer (OCPJP)</li>
					</ul>
				</div>
			</div>
			<div id="program-related-skills">
				<h3> Programming and Computer skills </h3>
				<div class="txt-pos">
					<ul>
					<li>Programming languages: Java EE, JavaScript, Python, C++, PHP, Perl, Bash, Expect</li>
					<li>Database knowledge/DBMSs: MySQL, MS SQLServer, Oracle, SQL</li>
					<li>Operating Systems: Linux, Max OS X, MS Windows</li>
					<li>Other: RESTful APIs, Django framework, Android programming, CSS, HTML, XML, MS Office</li>
					</ul>
					
				</div>
				
				<!-- <hr style="border-color:gray"> -->
				<hr>
				
				<h3>Academic projects that make me feel good about them</h3>
				<div>
					<ul>
						<li>
							<h3>www.servicesoft.ca</h3>
							<!-- <br/> -->
							<!-- <p> -->
							<span style="font-size:0.9em">
								Servicesoft.ca is a real-world online services portal. We worked on this project as a team in the ‘Software Development Project’ course of the Computer Programmer program at Algonquin College. Our job was to add new features and update few of the existing ones.
								<br/> 
								Technologies and tools we used while working on this project: PHP, JavaScript, SQL, HTML, CSS, JQuery, MySQL, Aptana Studio IDE.
							</span>
							<!-- </p> -->
							<hr/>
						</li>
						<li>
							<h3>www.shahidahmedkhan.info</h3>
							<!-- <br/>
							<p> -->
								<span style="font-size:0.9em">
								This is another academic project that gives me confidence about my coding skills. Essentially this website was the final project of the ‘Programming Language and Research Project’ course in the last semester of my studies at Algonquin College. It serves as my online resume, as well as a means of contact. When visitors leave messages on the website they get delivered to my email inbox automatically and visitors also get acknowledgement by emails that their messages have been received.  
								<br/>
								Technologies and tools I used in building this responsive-website: Python, JavaScript, Django framework, SQLite, HTML, CSS, Aptana Studio IDE.
								<br>
								This is my individual project, in other words the website is entirely my own creation.
								</span>
							<!-- </p> -->
							<hr/>
						</li>
						<li>
							<h3>Sprites, The Java EE application</h3>
							<span style="font-size:0.9em">
							Sprites is a Java EE application that can be accessed by multiple clients simultaneously.  Its client can be a desktop computer/laptop/cell phone/tablet with a web browser or the android application that has been structured specifically for an interaction with the Sprites app. 
This was a team project in ‘Enterprise Application Programming’ course of my last semester at Algonquin College.
							<br/>
							Technologies and tools used: Java EE, Android programming, Java RESTful APIs, MySQL, Glassfish server, NetBeans IDE, Android Studio IDE. 
							<hr/>
							</span>
						</li>
						<li>

							<h3>Multifunction Calculator, The android application</h3>
							<!-- <br/>
							<p> -->
								<span style="font-size:0.9em">
								Multifunction Calculator is an android application that we developed as a team in the ‘Graphical Interface Programming’ course at Algonquin College. It is an application that has four sub applications: Carbon footprint calculator, Tip calculator, Time and Activity tracker, Contact list. 
								<br/>
								Programming languages and tools used: Java, XML, SQL, SQLite, Android Studio IDE
								</span>
							<!-- </p> -->
							
						</li>
					</ul>
				</div>
			</div>
			
			<!-- <hr style="border-color:gray"> -->
			<hr/>
			
			<div class="experience">
				<h3>Experience</h3>
				<aside class="place">
					<h4>Nokia, Kanata</h4>
				</aside>
				<aside class="duration">
					<h5 class="text-position-right">Sep 2015 - Dec 2015</h5>
				</aside>
				<br/>
				<div class="title">Customer Application Engineer</div>
				<div class="roles">
					<ul>
						<li>Create custom toolsets - in programming languages such as PERL, Bash, Expect - for both internal and external consumption</li>
						<li>Supported customers to resolve their product support concerns</li>
						<li>Customer support included problem reproductions, code inspection, documentation updates, and direct work on customer networks</li>
					</ul> 
				</div>
				<aside class="place">
					<h4>Esso Gas Station, Baseline road</h4>
				</aside>
				<aside class="duration">
					<h5 class="text-position-right">Jul 2015 - Present</h5>
				</aside>
				<!-- <br/> -->
				<br/>
				<div class="title" >Cashier</div>
				<div class="roles">
					<ul>
						<li>Providing excellent customer service by greeting all customers warmly</li>
						<li>Mainting excellent productivity level by operating cash register effiently forall sales</li>
						<li>Operating lotto/lottery terminal in an effective manner</li>
						<li>Using time managment principle to stock, organize, clean shelves/racks and coolers</li>
					</ul>
				</div>
				<aside class="place">
					<h4>Wal-Mart - Centrum, Kanata</h4>
				</aside>
				<aside class="duration">
					<h5 class="text-position-right">Apr 2016 - Present</h5>
				</aside>
				<aside class="duration">
					<h5 class="text-position-right"	>Sep 2014 - Aug 2015</h5>
				</aside>
				<!-- <br/> -->
				<div class="title top-padding">Overnight Stocker</div>
				<div class="roles">
					<ul class="roles-kanata">
						<li>Completing all tasks assigned by the supervisor</li>
						<li>Stocking shelves of the department assigned by the supervisor</li>
						<li>Providing a clean, stocked, well zoned department in a timely manner</li>
						<li>Maintaing a safe work area, free of excess debris and fixtures</li>
					</ul>
				</div>
			</div>
			<br/>
			
			<!-- <hr style="border-color:gray"> -->
			<hr>
			
			<div class="sports-activites" style="margin-top: 5%;">
				<h3>Sports activites</h3>
				<div class="activites" style="margin-left: 3%;">
					<ul>
						<li>Practitioner of Shotokan-karate</li>
						<li>Regular jogging</li>
						<li>Cricket enthusiast</li>
					</ul>
				</div>
			</div>
			<div class="references" style="margin: 60px 0px 20px 0; font-size: 1.2em; text-align: center;">
				<em>References available on request</em>
			</div>
		</div>
	</div>
{% endblock %}
